<a href="https://colab.research.google.com/github/HuzyBytes/Python-Control-Flow-Assignment/blob/main/SMIT_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# I am Huzaifa Azeem, This is my first assignment, a late but good submission,
# InshaAllah

In [ ]:
#TASK 1

In [ ]:
#1.1: Divisibility Checker

In [ ]:
number= int(input("Enter a number: "))
if number % 3 == 0:
    print(number, "is divisible by 3")
else:
    print(number, "is not divisible by 3")

    #Enter a number: 456
#    456 is divisible by 3

Enter a number: 456
456 is divisible by 3

In [ ]:
#1.2: Even/Odd with Sign Detection

In [ ]:
num = int(input("Enter your number: "))

if num > 0:
    if num % 2 == 0:
        print("Positive Even Number")
    else:
        print("Positive Odd Number")
elif num == 0:
    print("The number is zero")
else:
    print("Negative Number")

#Enter your number: 34563456
#Positive Even Number

Enter your number: 34563456
Positive Even Number

In [ ]:
#1.3: Grade Evaluator

In [ ]:
num = int(input("MARKS: "))

if num > 100:
    print("Invalid marks")
elif num >= 90:
    print("You Got A*, BRILLIANT")
elif num >= 80:
    print("Grade B, GOOD")
elif num >= 70:
    print("Grade C, NEED IMPROVEMT")
elif num >= 50:
    print("Grade D, VERY BAD")
elif num <= 40:
   print("Grade F, YOU FAILLED")

#MARKS: 60
#Grade D, VERY BAD

MARKS: 60
Grade D, VERY BAD

In [ ]:
#1.4: Leap Year Checker

In [ ]:
year = int(input("Enter a year: "))

if year>9999:
    print("Invalid year")
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

#Enter a year: 2000
#2000 is a leap year

Enter a year: 2000
2000 is a leap year

In [ ]:
#TASK 2

In [ ]:
#2.1: Print Numbers 1 to 10

In [ ]:
for a in range(1,11):
    print(a)

#1
#2
#3
#4
#5
#6
#7
#8
#9
#10

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2.2: Sum of First N Natural Numbers

In [ ]:
N = int(input("Enter a +ve number: "))
total = 0
a = 1
if N <= 0:
    print("please enter +ve number!")

while a <= N:
    total += a
    a += 1

print("Sum is:", total)

#Sir, I used AI to understand "Use a while loop to calculate the sum from 1 to N" then do this by myself

#Enter a +ve number: 2
#Sum is: 3

Enter a +ve number: 2
Sum is: 3

In [ ]:
#2.3: Print Even Numbers Up To N

In [ ]:
N = int(input("Enter N: "))

if N <= 0:
    print("please enter +ve number!")

for a in range(1, N + 1):
    if a % 2 == 0:
        print(a)

#Enter N: 10
#2
#4
#6
#8
#10

Enter N: 10
2
4
6
8
10

In [ ]:
#2.4: Countdown Timer

In [ ]:
start = int(input("Enter a number: "))

while start > 0:
    print(start)
    start -= 1
print ("Liftoff!")

#Enter a number: 2
#2
#1
#Liftoff!

Enter a number: 2
2
1
Liftoff!

In [ ]:
#TASK 3

In [ ]:
#3.1: Divisibility Search with break

In [ ]:
numbers = [
    int(input("Enter first: ")),
    int(input("Enter second: ")),
    int(input("Enter third: ")),
    int(input("Enter fourth: ")),
    int(input("Enter fifth: ")),

]
k = int(input("Enter K: ")) #Ask for a number K
for num in [one, two]:
  if num % k == 0:
        print(f"The first number divisible by {k} is: {num}")
        break
else:
    print("Not found")

#Enter first: 1212
#Enter second: 213
#Enter third: 5533
#Enter fourth: 12
#Enter fifth: 12
#Enter K: 21335
#Not found

Enter first: 1212
Enter second: 213
Enter third: 5533
Enter fourth: 12
Enter fifth: 12
Enter K: 21335
Not found

In [ ]:
#a better way to do 3.1 (i took help from AI)

In [ ]:
user_input = input("Enter your numbers separated by spaces: ")
numbers = [int(x) for x in user_input.split()] #i dont know how to write this line yet
k = int(input("Enter K: ")) # we ask K(s)
for num in numbers:
    if num % k == 0:
        print(f"The first number divisible by {k} is: {num}")
        break
else:
    print(f"No number in the list is divisible by {k}")

#Enter your numbers separated by spaces: 65 78 23 32 64 62245 63 234 634 23 76 24 7 3
#Enter K: 623
#No number in the list is divisible by 623

Enter your numbers separated by spaces: 65 78 23 32 64 62245 63 234 634 23 76 24 7 3
Enter K: 623
No number in the list is divisible by 623

In [ ]:
#3.2: Skip Negative Numbers using continue

In [ ]:
numbers_str = input("Enter yournumbers separated by spaces: ")
numbers = [int(num) for num in numbers_str.split()] #i dont know how to write this line yet

print("Non-negative numbers:")
for num in numbers:
    if num < 0:
        continue
    print(num)
if num <= 0:
    print("No positive numbers found")

#Enter yournumbers separated by spaces: -2 -3 -5 -523
#Non-negative numbers:
#No positive numbers found

Enter yournumbers separated by spaces: -2 -3 -5 -523
Non-negative numbers:
No positive numbers found

In [ ]:
#3.3: Loop with else Clause

In [ ]:
numbers_str = input("Enter numbers separated by spaces: ")
numbers = [int(x) for x in numbers_str.split()]

k = int(input("Enter the target number K: "))

found = False
for index, num in enumerate(numbers):
    if num == k:
        print(f"Target {k} found at index: {index}")
        found = True
        break
else:
    print(f"Target {k} not found in the list.")

#Enter numbers separated by spaces: 1 2 3 4 5 6
#Enter the target number K: 4
#Target 4 found at index: 3

Enter numbers separated by spaces: 1 2 3 4 5 6
Enter the target number K: 4
Target 4 found at index: 3

In [ ]:
#TASK 4

In [ ]:
#4.1: Multiplication Table (Nested Loops)

In [ ]:
N = int(input("Enter an integer N: "))

if N <= 0:
    print("Please enter a positive integer.")
else:
    for i in range(1, N + 1):
        print(f"\nMultiplication Table for {i}:")
        for j in range(1, 11): # Print table up to 10
            print(f"{i} x {j} = {i * j}")

#Enter an integer N: 1

#Multiplication Table for 1:
#1 x 1 = 1
#1 x 2 = 2
#1 x 3 = 3
#1 x 4 = 4
#1 x 5 = 5
#1 x 6 = 6
#1 x 7 = 7
#1 x 8 = 8
#1 x 9 = 9
#1 x 10 = 10

Enter an integer N: 1

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
#4.2: Prime Number Checker - IDK

In [ ]:
#Fibonacci Sequence Generator - No Idea

In [ ]:
#4.4: Menu‑Driven Program - Display menu

In [ ]:
while True:
    print("\n--- Menu ---")
    print("1) Greet me")
    print("2) Multiplication table")
    print("3) Exit")

    choice = input("Enter your choice: ") #ask choice

    if choice == '1': #choice 1, simple print command
        print("Hello! Welcome!")
    elif choice == '2':#multiplication table same as done above
        try:
            N = int(input("Enter an integer for the multiplication table: "))
            if N <= 0:
                print("Please enter a positive integer.")
            else:
                print(f"\nMultiplication Table for {N}:")
                for j in range(1, 11):
                    print(f"{N} x {j} = {N * j}")
        except ValueError:
            print("Invalid input. Please enter an integer.")
    elif choice == '3':#choice 3,again simple print command
        print("Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please select 1, 2, or 3.")

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 1
Hello! Welcome!

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 2
Enter an integer for the multiplication table: 1

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 3
Exiting program. Goodbye!

In [ ]:
#sorry, i cant do more of the tasks. (even with ai i cant understand it)

In [ ]:
# I am Huzaifa Azeem, This is my first assignment, a late but good submission,
# InshaAllah

In [ ]:
#TASK 1

In [ ]:
#1.1: Divisibility Checker

In [ ]:
number= int(input("Enter a number: "))
if number % 3 == 0:
    print(number, "is divisible by 3")
else:
    print(number, "is not divisible by 3")

    #Enter a number: 456
#    456 is divisible by 3

Enter a number: 456
456 is divisible by 3

In [ ]:
#1.2: Even/Odd with Sign Detection

In [ ]:
num = int(input("Enter your number: "))

if num > 0:
    if num % 2 == 0:
        print("Positive Even Number")
    else:
        print("Positive Odd Number")
elif num == 0:
    print("The number is zero")
else:
    print("Negative Number")

#Enter your number: 34563456
#Positive Even Number

Enter your number: 34563456
Positive Even Number

In [ ]:
#1.3: Grade Evaluator

In [ ]:
num = int(input("MARKS: "))

if num > 100:
    print("Invalid marks")
elif num >= 90:
    print("You Got A*, BRILLIANT")
elif num >= 80:
    print("Grade B, GOOD")
elif num >= 70:
    print("Grade C, NEED IMPROVEMT")
elif num >= 50:
    print("Grade D, VERY BAD")
elif num <= 40:
   print("Grade F, YOU FAILLED")

#MARKS: 60
#Grade D, VERY BAD

MARKS: 60
Grade D, VERY BAD

In [ ]:
#1.4: Leap Year Checker

In [ ]:
year = int(input("Enter a year: "))

if year>9999:
    print("Invalid year")
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

#Enter a year: 2000
#2000 is a leap year

Enter a year: 2000
2000 is a leap year

In [ ]:
#TASK 2

In [ ]:
#2.1: Print Numbers 1 to 10

In [ ]:
for a in range(1,11):
    print(a)

#1
#2
#3
#4
#5
#6
#7
#8
#9
#10

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2.2: Sum of First N Natural Numbers

In [ ]:
N = int(input("Enter a +ve number: "))
total = 0
a = 1
if N <= 0:
    print("please enter +ve number!")

while a <= N:
    total += a
    a += 1

print("Sum is:", total)

#Sir, I used AI to understand "Use a while loop to calculate the sum from 1 to N" then do this by myself

#Enter a +ve number: 2
#Sum is: 3

Enter a +ve number: 2
Sum is: 3

In [ ]:
#2.3: Print Even Numbers Up To N

In [ ]:
N = int(input("Enter N: "))

if N <= 0:
    print("please enter +ve number!")

for a in range(1, N + 1):
    if a % 2 == 0:
        print(a)

#Enter N: 10
#2
#4
#6
#8
#10

Enter N: 10
2
4
6
8
10

In [ ]:
#2.4: Countdown Timer

In [ ]:
start = int(input("Enter a number: "))

while start > 0:
    print(start)
    start -= 1
print ("Liftoff!")

#Enter a number: 2
#2
#1
#Liftoff!

Enter a number: 2
2
1
Liftoff!

In [ ]:
#TASK 3

In [ ]:
#3.1: Divisibility Search with break

In [ ]:
numbers = [
    int(input("Enter first: ")),
    int(input("Enter second: ")),
    int(input("Enter third: ")),
    int(input("Enter fourth: ")),
    int(input("Enter fifth: ")),

]
k = int(input("Enter K: ")) #Ask for a number K
for num in [one, two]:
  if num % k == 0:
        print(f"The first number divisible by {k} is: {num}")
        break
else:
    print("Not found")

#Enter first: 1212
#Enter second: 213
#Enter third: 5533
#Enter fourth: 12
#Enter fifth: 12
#Enter K: 21335
#Not found

Enter first: 1212
Enter second: 213
Enter third: 5533
Enter fourth: 12
Enter fifth: 12
Enter K: 21335
Not found

In [ ]:
#a better way to do 3.1 (i took help from AI)

In [ ]:
user_input = input("Enter your numbers separated by spaces: ")
numbers = [int(x) for x in user_input.split()] #i dont know how to write this line yet
k = int(input("Enter K: ")) # we ask K(s)
for num in numbers:
    if num % k == 0:
        print(f"The first number divisible by {k} is: {num}")
        break
else:
    print(f"No number in the list is divisible by {k}")

#Enter your numbers separated by spaces: 65 78 23 32 64 62245 63 234 634 23 76 24 7 3
#Enter K: 623
#No number in the list is divisible by 623

Enter your numbers separated by spaces: 65 78 23 32 64 62245 63 234 634 23 76 24 7 3
Enter K: 623
No number in the list is divisible by 623

In [ ]:
#3.2: Skip Negative Numbers using continue

In [ ]:
numbers_str = input("Enter yournumbers separated by spaces: ")
numbers = [int(num) for num in numbers_str.split()] #i dont know how to write this line yet

print("Non-negative numbers:")
for num in numbers:
    if num < 0:
        continue
    print(num)
if num <= 0:
    print("No positive numbers found")

#Enter yournumbers separated by spaces: -2 -3 -5 -523
#Non-negative numbers:
#No positive numbers found

Enter yournumbers separated by spaces: -2 -3 -5 -523
Non-negative numbers:
No positive numbers found

In [ ]:
#3.3: Loop with else Clause

In [ ]:
numbers_str = input("Enter numbers separated by spaces: ")
numbers = [int(x) for x in numbers_str.split()]

k = int(input("Enter the target number K: "))

found = False
for index, num in enumerate(numbers):
    if num == k:
        print(f"Target {k} found at index: {index}")
        found = True
        break
else:
    print(f"Target {k} not found in the list.")

#Enter numbers separated by spaces: 1 2 3 4 5 6
#Enter the target number K: 4
#Target 4 found at index: 3

Enter numbers separated by spaces: 1 2 3 4 5 6
Enter the target number K: 4
Target 4 found at index: 3

In [ ]:
#TASK 4

In [ ]:
#4.1: Multiplication Table (Nested Loops)

In [ ]:
N = int(input("Enter an integer N: "))

if N <= 0:
    print("Please enter a positive integer.")
else:
    for i in range(1, N + 1):
        print(f"\nMultiplication Table for {i}:")
        for j in range(1, 11): # Print table up to 10
            print(f"{i} x {j} = {i * j}")

#Enter an integer N: 1

#Multiplication Table for 1:
#1 x 1 = 1
#1 x 2 = 2
#1 x 3 = 3
#1 x 4 = 4
#1 x 5 = 5
#1 x 6 = 6
#1 x 7 = 7
#1 x 8 = 8
#1 x 9 = 9
#1 x 10 = 10

Enter an integer N: 1

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
#4.2: Prime Number Checker - IDK

In [ ]:
#Fibonacci Sequence Generator - No Idea

In [ ]:
#4.4: Menu‑Driven Program - Display menu

In [ ]:
while True:
    print("\n--- Menu ---")
    print("1) Greet me")
    print("2) Multiplication table")
    print("3) Exit")

    choice = input("Enter your choice: ") #ask choice

    if choice == '1': #choice 1, simple print command
        print("Hello! Welcome!")
    elif choice == '2':#multiplication table same as done above
        try:
            N = int(input("Enter an integer for the multiplication table: "))
            if N <= 0:
                print("Please enter a positive integer.")
            else:
                print(f"\nMultiplication Table for {N}:")
                for j in range(1, 11):
                    print(f"{N} x {j} = {N * j}")
        except ValueError:
            print("Invalid input. Please enter an integer.")
    elif choice == '3':#choice 3,again simple print command
        print("Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please select 1, 2, or 3.")

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 1
Hello! Welcome!

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 2
Enter an integer for the multiplication table: 1

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

--- Menu ---
1) Greet me
2) Multiplication table
3) Exit
Enter your choice: 3
Exiting program. Goodbye!

In [ ]:
#sorry, i cant do more of the tasks. (even with ai i cant understand it)